---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JBM/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JBM/JetBrainsMono-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JBM/JetBrainsMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JBM/JetBrainsMono-BoldItalic.ttf");
    font-style: italic;
    font-style: bold;
}

body {
    color: 30363a;
}

.page-header {
    padding: 0;
    background-image: linear-gradient(120deg, #155799, #2db034, #b69b00);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    .page-header-inner {
        max-width: 64rem;
        margin: 0 auto;
        text-align: left;
        padding: 2.5rem 6rem;
    }

    .project-tagline {
        opacity: 0.9;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        margin: 0 0 3rem 0;
    }

    .btn, .btn:hover {
        color: white;
    }

    .logo {
        width: 120px;
        float: left;
        margin-right: 2rem;
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
    }

    p.view {
        margin-bottom: 0;
    }
}

.page-header-small {
    background-image: linear-gradient(120deg, #155799, #2db034, #b69b00);
    color: white;

    .inner {
        max-width: 64rem;
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;

        .home-link {
            font-size: 1.2em;
            letter-spacing: 0.02rem;
            font-weight: bold;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 1.35rem 1rem;
            line-height: 1rem;
            text-align: center;

            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        .page-header-inner {
            padding: 2rem 4rem;
            background-image: linear-gradient(120deg, #155799, #26bd2e, #b69b00);
        }

        .logo {
            width: 100px;
            margin-right: 1.3rem;
        }
    }

    .page-header-small .inner {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        .page-header-inner {
            padding: 1.5rem 1rem 0.01rem 1rem;
        }

        .logo {
            width: 80px;
            margin-right: 1rem;
        }
    }

    .page-header-small .inner {
        padding: 0;
    }
}

.main-content {
    pre, code {
        font-family: 'JetBrains Mono', 'Noto Mono', 'Roboto Mono', Consolas, Hack, Menlo, 'Liberation Mono', monospace;
    }

    blockquote {
        color: #5b6468;
    }

    h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
        font-size: 85% !important;
    }

}

pre.h-terminal {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: none;
    background-color: #141414;
    border-radius: 0.4rem;
    overflow: auto;
    color: white;
    font-size: 100%;
    line-height: 120%;

    @media (min-width: 42em) and (max-width: 64em) {
        font-size: 90%;
    }

    @media (max-width: 42em) {
        font-size: 82%;
    }

    .h-shell {
        color: #32d132;
        user-select: none;
        pointer-events: none;
    }

    .h-cmd {
        color: #419df3;
    }

    .h-hl {
        color: #00ffff;
        font-weight: bold;
    }

    .h-arg {
        color: white;
    }

    .h-str {
        color: #ffba24;
    }

    .h-pipe, .h-punct {
        color: #a2be00;
    }

    .h-flag {
        color: #ff7167;
    }

    .h-esc {
        color: #d558f5;
        font-weight: bold;
    }

    .h-caret {
        background-color: white;
        user-select: none;
    }

    &::selection, & ::selection {
        color: inherit;
        background-color: rgba(0, 78, 173, 0.5);
    }
}

pre.color-examples {
    background-color: #f6f6f6;
    color: #666666;

    img {
        display: inline-block;
        margin: 0 0 3px 0;
        vertical-align: middle;
    }
}
