---
---

@import "{{ site.theme }}";

body {
    color: 30363a;
}

.page-header {
    padding: 2.5rem;
    background-image: linear-gradient(120deg, #155799, #26bd2e, #b69b00);

    .project-tagline {
        opacity: 0.9;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .btn, .btn:hover {
        color: white;
    }

    .logo {
        width: 120px;
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
    }
}

.page-header-small {
    background-image: linear-gradient(120deg, #155799, #26bd2e, #b69b00);
    color: white;

    .inner {
        max-width: 64rem;
        margin: 0 auto;
        padding: 0 5rem;

        .github-link {
            float: right;
        }

        .home-link {
            font-size: 1.2em;
            letter-spacing: 0.02rem;
            font-weight: bold;
        }

        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 1.35rem 1rem;
            line-height: 1rem;

            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 2rem;
        background-image: linear-gradient(120deg, #155799, #26bd2e, #b69b00);
    }

    .page-header-small .inner {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 1.5rem 1rem;
    }

    .page-header-small .inner {
        padding: 0;
    }
}

.main-content {
    code {
        font-family: 'Noto Mono', 'Roboto Mono', Consolas, Hack, Menlo, 'Liberation Mono', monospace;
    }

    blockquote {
        color: #5b6468;
    }

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: 85% !important;
}

}
